.card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;

}

.card {
    padding: 20px;
    width: 80%; /* Adjust the width based on your design */
    max-width: 300px; /* Set a maximum width if needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 3%;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
 



.heading {

    font-size: 100%;
    font-weight: bold;
    text-align: center;
    margin: 5%;
}

.user-name {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.age-field,
.date-of-birth-field {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: start;

}

.submit-button {
    text-align: center;
    background-color: blue;
    color: #fff;
    padding: 4%;
    border-radius: 2%;

}

.gender-field {

    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.submit-button {
    margin-top: 60px;
    width: 98%;
}