body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center; padding: 20px;
   
}

.login-form {
width:28%;
height: 60%;
  padding: 20px;  padding: 20px;
    width: 80%; /* Adjust the width based on your design */
    max-width: 300px; /* Set a maximum width if needed */
    height: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.login-heading {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Add some margin at the top */
}


.login-button:hover {
  background-color: #0056b3;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.form-group{
 padding: 50px;
}
.passwordlabel{
  margin-top: 20px;
}